#testimonials_area {
	position: relative;
	overflow: hidden;
	width: 391px;
	min-height: 110px;
	margin-top: 22px;
	padding: 24px 30px;
	border-radius: 5px;
	border: 2px solid #f0f0f0;
	background-color: #f9f9f9;
	float: left;
}
.short-width-slider-3 {
	position: relative;
	overflow: hidden;
	width: 391px;
	min-height: 110px;
	float: left;
}

#testimonials_area .next {
	position: absolute;
	bottom: 0px;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	background: #fff url(../../images/arrow-right.png) no-repeat center 5px;
}

#testimonials_area .prev {
	position: absolute;
	bottom: 0px;
	top: 5px;
	right: 30px;
	width: 20px;
	height: 20px;
	background: #fff url(../../images/arrow-left.png) no-repeat center 5px;
}













@media only screen and (min-width: 768px) and (max-width: 999px) {
	
#testimonials_area {
	position: relative;
	overflow: hidden;
	width: 316px;
	min-height: 100px;
	margin-top: 12px;
	padding: 19px 15px;
	border-radius: 5px;
	border: 2px solid #f0f0f0;
	background-color: #f9f9f9;
	float: left;
}
.short-width-slider-3 {
	position: relative;
	overflow: hidden;
	width: 316px;
	min-height: 100px;
	float: left;
}


}



@media only screen and (min-width: 480px) and (max-width: 767px){

#testimonials_area {
	position: relative;
	overflow: hidden;
	width: 386px;
	min-height: 110px;
	margin-top: 22px;
	padding: 24px 30px;
	border-radius: 5px;
	border: 2px solid #f0f0f0;
	background-color: #f9f9f9;
	float: left;
}
.short-width-slider-3 {
	position: relative;
	overflow: hidden;
	width: 386px;
	min-height: 110px;
	float: left;
}



}

@media only screen and (max-width: 480px){

#testimonials_area {
	position: relative;
	overflow: hidden;
	width: 266px;
	min-height: 110px;
	margin-top: 22px;
	padding: 14px 15px;
	border-radius: 5px;
	border: 2px solid #f0f0f0;
	background-color: #f9f9f9;
	float: left;
}
.short-width-slider-3 {
	position: relative;
	overflow: hidden;
	width: 266px;
	min-height: 110px;
	float: left;
}



}